.App {
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fon {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  max-height: 200vh;
  transform: translate(-50%, -50%);
  z-index: -10;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  margin: 50px 0 50px 0;
  width: 60%;
  min-width: 560px;
  background: rgba(242,242,242,0.1);
  color: #000;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  -khtml-backdrop-filter: blur(12px);
  -moz-backdrop-filter: blur(12px);
  -ms-backdrop-filter: blur(12px);
  display: flex;
    box-shadow: -5px 15px 50px 20px rgba(10, 10, 10, 0.9);

}
.part_left {
  width: 30%;
  min-width: 280px;
  border-right: 2px solid rgba(95,95,95,0.8);
  display: flex;
  flex-direction: column;
}
.part_right {
  width: 70%;
  min-width: 280px;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #FFF;
}
.photo {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
}
.short_info_container {
  width: 100%;
  min-height: 70%;
  background-color: #f47721;
  display: flex;
  justify-content: center;
}
.short_info {
  width: 85%;
}
.name {
  margin: 20px 0 0 0;
  font-size: 2.8vh;
  text-align:center;
  font-weight: 600;
}
.position {
  font-size: 1.9vh;
  text-align:center;
  color: rgba(11,11,11,1);
  font-weight: 700;
}
.person_info_container {
  margin: 25px 0 0 0;
}
.person_info_container a{
  text-decoration: none;
  color: rgba(11,11,11,1);
  transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
}
.person_info_container a:hover {
  margin-left: -5px;
  color: #FFF;
}
.person_info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* text-align:center; */
  font-size: 15px;
  font-weight: 600;
}
.icon {
  min-width: 35px;
  min-height: 35px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: contain;
}
.hr {
  border-top: 2px solid rgba(95,95,95,1);
  margin: 25px 0;
}
.skills {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.skills_title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10px;
}
.skills_text {
  font-size: 17px;
  font-weight: 600;
  margin-left: 15px;
}
.skills a {
  margin: 8px 0 0 15px;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(11,11,11,1);
  transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  cursor: pointer;
}
.skills a:hover {
  margin-left: 10px;
  color: #FFF;
}

.part_right_container {
  width: 90%;
  min-height: 700px;
  margin: 0 0 50px 0;
}
.summary_container {
  margin-top: 55px;
}
.right_info_title {
  font-size: 23px;
  font-weight: 700;
  color: #f47721;
  margin: 50px 0 0 0;
}
.right_info_text {
  font-size: 17px;
  font-weight: 600;
  line-height: 3.2vh;
  margin: 20px 0 0 0;
  display: flex;
}
.text_decoration {
  color: #f47721;
  margin: 0 15px 0 10px;
}


@media screen and (max-width:1600px) {
  .wrapper {
    width: 75%;
  }
}
@media screen and (max-width:1300px) {
  .wrapper {
    width: 85%;
  }
}
@media screen and (max-width:1100px) {
  .wrapper {
    width: 90%;
  }
}


@media screen and (max-width:590px) {
  .wrapper {
    width: 95%;
    min-width: 310px;
    flex-direction: column;
  }
  .part_left {
    width: 100%;
  }
  .part_right {
    width: 100%;
  }
}
